---
import { useTranslations, useTranslatedPath } from '../i18n/utils';
import type { AugmentedData } from '../utils/contentAugmentation';
import { formatLocalizedDate } from '../utils/date';

const lang = (Astro.currentLocale || 'sk') as 'sk' | 'cz';
const t = useTranslations(lang);
const path = await useTranslatedPath(lang);

interface Props {
    post: AugmentedData<'blog'>;
    className?: string;
}

const { post, className } = Astro.props;
const formattedDate = post.data.date ? formatLocalizedDate(new Date(post.data.date), lang) : '';
---
<a class={`${className} project`} href={path(`/blog/${post.slug}/`)}>
    <div class="blog-card__img">
        <img src={post.data.imageThumb} srcset={post.data.imageThumbSet} alt={post.data.title}>
    </div>
        <h3>
            <svg class="icon icon-arrow"><use xlink:href="#icon-arrow"></use></svg>
            {post.data.title}
        </h3>
    <div class="blog-card__content">
        <p class="blog-card__excerpt">{post.data.description}</p>
        {false && (
            <div class="blog-card__date">{formattedDate}</div>
        )}
    </div>

</a>

<style>
    .blog-card__img {
        position: relative;
        aspect-ratio: 16 / 6;
        overflow: hidden;
        margin-bottom: 1.25rem;
    }
    .blog-card__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease;
    }
    .blog-card__excerpt {
        font-size: 1.125rem;
        line-height: 1.3;
        margin-bottom: 2rem;
    }
    .blog-card__date {
        font-size: 1rem;
        color: #999;
        font-weight: 400;
        text-transform: none;
    }
</style>



